p:nth-of-type(3) {color: red;}
h1:nth-last-of-type(even) {color: orange;} 
/* я выбрал абзац который является третьим среди абзацев родителя div */
/* nth-last-of-type выбирает четный h1 начиная с конца родителя div */