a.zzz {
	color: red;
}
a.zzz:hover {
	text-decoration: none;
}

/* селектор указывает  состояния ссылок a c классом zzz   здесь указано что все кроме hover будут красными с чертой а hover красной без черты*/ 